*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#card{
    position: relative;
    width: 500px;
    height: 500px;
transform-style: preserve-3d;
transform: perspective(1000px);
background:lightskyblue;
transition: transform 1s, width .8s;
}
#card:hover{
   transform: translateX(50%);
   width: 350px;
}

#card:hover #box{
    transform:rotateY(-180deg);
}

.main{
    position: absolute;
}

#box{
    position:absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    transform-origin: left;
    transform-style: preserve-3d;
    transition: transform 1s;
}

#back{
    position: absolute;
    top: 0;
    width:100%;
    height: 100%;
    background-color: lightskyblue;
    transform: rotateY(180deg);
    backface-visibility: hidden;
    border-right: 1px solid white;
    transform-style: preserve-3d;
}

#cat{
    width: 100%;
    height: 100%;
    object-fit:cover;
}

#both {
    width: 200px;
    height: 200px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%); 
  background-color: red;
}

@keyframes cursive2 {
    0%{
        stroke-dashoffset:1143;
    }
    100%{
        stroke-dashoffset: 0;
    }
}

@keyframes cursive3 {
    0%{
        stroke-dashoffset:139;
    }
    100%{
        stroke-dashoffset: 0;
    }
}

@keyframes cursive4 {
    0%{
        stroke-dashoffset:47;
    }
    100%{
        stroke-dashoffset: 0;
    }
}
@keyframes cursive5 {
    0%{
        stroke-dashoffset:99;
    }
    100%{
        stroke-dashoffset: 0;
    }
}

#both path:nth-child(4){
    stroke-dasharray: 139;
    stroke-dashoffset: 139;
    animation: cursive3 1s forwards;
}

#both path:nth-child(3){
    stroke-dasharray:47;
    stroke-dashoffset: 47;
    animation: cursive4 1s forwards;
    animation-delay: .9s;
}

#both path:nth-child(2){
        stroke-dasharray:99;
        stroke-dashoffset: 99;
        animation: cursive5 1s forwards;
        animation-delay: 1.8s;
}

#move{
    stroke-dasharray: 1143;
    stroke-dashoffset: 1143;
    animation: cursive2 4s forwards linear;
    animation-delay:2.7s ;
}