*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#hello{
position: absolute;
left: 50%;
top: 50%;
transform: translate(-50%,-50%);
}

#hello path:nth-child(7){
    stroke-dasharray: 182;
    animation: fill .7s linear;
}
#hello path:nth-child(6){
    stroke-dasharray: 182;
    stroke-dashoffset: 182;
    animation: fill 1.5s forwards;
    animation-delay: .6s;
}

#hello path:nth-child(5){
    stroke-dasharray: 182;
    stroke-dashoffset: 182;
    animation: fill 1.5s forwards;
    animation-delay: 1.4s;
}

#hello path:nth-child(4){
    stroke-dasharray: 182;
    stroke-dashoffset: 182;
    animation: fill 1.5s forwards;
    animation-delay: 1.8s;
}

#hello path:nth-child(3){
    stroke-dasharray: 182;
    stroke-dashoffset: 182;
    animation: fill 1.5s forwards;
    animation-delay: 2.8s;
}

#hello path:nth-child(2){
    stroke-dasharray: 182;
    stroke-dashoffset: 182;
    animation: fill 1.5s forwards;
    animation-delay: 3.4s;
}

#hello path:nth-child(1){
    stroke-dasharray: 182;
    stroke-dashoffset: 182;
    animation: fill 1.5s forwards;
    animation-delay: 4s;
}
@keyframes fill {
    0%{
        stroke-dashoffset: 182;
    }
    100%{
        stroke-dashoffset: 0;
    }
}
