* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
   /* cursor: url('mantis2.png'),pointer;*/
}

body{
    background: linear-gradient(to bottom,#5a3f32 5%, #d56c38 25% ,#f7e493 45%,#d56c38 65% ,#5a3f32 100% ) fixed;
}

#canvas{
    position: absolute;
    background: black;
    height: 100vh;
    width: 100%;
    display: inherit;
}

#card {
    position:absolute;
    left: 50%;
    top: 50%;
    width: 400px;
    height: 500px;
    transform-style: preserve-3d;
    transform: perspective(1000px) translate(-50%,-50%);
    background: white;
    transition: transform 1s;
    border-left: none;
    border-radius: 10px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

#card:hover {
    transform: translateX(50%) translate(-50%,-50%);
}

#card:hover #box {
    transform: rotateY(-180deg);
}

#candle-container{
    position:absolute;
    left: 50%;
    top: 45%;
    transform: translate(-50%, -50%);
    width:200px;
    height:200px;
    z-index: -1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#candles{
    position: relative;
    text-align:center;
    width: 100%;
    height: 140px;
}

#nineteen {
    text-align: center;
    position: absolute;
    bottom: -10px;
    font-size: 150px;
    width: 100%;
    -webkit-text-stroke-width: 4px;
    -webkit-text-stroke-color:#4b87ca;
    text-shadow:
        -1px 1px 0 rgba(90, 90, 90, 0.411),
        -2px 2px 0 rgba(90, 90, 90, 0.411),
        -3px 3px 0 rgba(90, 90, 90, 0.411),
        -4px 4px 0 rgba(90, 90, 90, 0.411),
        -5px 5px 0 rgba(90, 90, 90, 0.411),
        -6px 6px 0 rgba(90, 90, 90, 0.411),
        -7px 7px 0 rgba(90, 90, 90, 0.411);
        pointer-events: none;
        color:white;
}

#stem1{
    width: 35px;
    height: 40px;
    position:absolute;
    left: 15%;
    top: -10%;
    }
      
 #stem1 div{
    position: absolute;
    right: 0;
    bottom: 5px;
    width: 5px;
   height: 22px;
   background-color:rgba(16, 16, 17, 0.884); 
   border-radius:10px;
 } 

#stem2{
        width: 35px;
        height: 40px;
        position: absolute;
        left: 51%;
        top: -10%;
    }   

 #stem2 div{
        position: absolute;
        right: 0;
        bottom: 8px;
        width: 5px;
       height: 22px;
       background-color: rgba(16, 16, 17, 0.884); 
       border-radius:10px;
     } 

#box {
    position: relative;
    width:100%;
    height:100%;
    transform-origin: left;
    transform-style: preserve-3d;
    transition: transform 1s;
    border-radius: 10px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

#cover {
    width: 100.5%;
    height: 100.5%;
    object-fit: cover;
    backface-visibility: hidden;
    border-radius: 10px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

#back {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    backface-visibility: hidden;
    transform: rotateY(180deg);
    border-right: 1px solid black;
    border-radius: 10px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

#write-container{
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: fit-content;
    height:fit-content ;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

#happy {
    position: relative;
    left: -8px;
    top: -10px;
    margin-top: 20px;
    width: 280px;
    height: 134px;
    fill: none;
    stroke-width: 3;
    stroke:#d56c38;
    stroke-linecap: round;
}

#birthday{
    position: relative;
    left:5px;
    width: 378px;
    height: 110px;
    fill: none;
    stroke-width:3;
    stroke:#f7e493;
    stroke-linecap: round;
}

#jack{
    position: relative;
    left: 125px;
    width: 202px;
    height:130px;
    fill: none;
    stroke-width: 3;
    stroke:#5e3f2f;
    stroke-linecap: round;
}

@keyframes appy {
    0% {
        stroke-dashoffset: 1143;
    }

    100% {
        stroke-dashoffset: 0;
    }
}

@keyframes h2 {
    0% {
        stroke-dashoffset: 139;
    }

    100% {
        stroke-dashoffset: 0;
    }
}

@keyframes h3 {
    0% {
        stroke-dashoffset: 47;
    }

    100% {
        stroke-dashoffset: 0;
    }
}

@keyframes h1 {
    0% {
        stroke-dashoffset: 99;
    }

    100% {
        stroke-dashoffset: 0;
    }
}

#h1 {
    stroke-dasharray: 99;
    stroke-dashoffset: 99;
}

.h1 {
    animation: h1 1s forwards linear;
    animation-delay: 2.7s;
}

#h2 {
    stroke-dasharray: 140;
    stroke-dashoffset: 140;
}

.h2 {
    animation: h2 1s forwards linear;
    animation-delay: 1s;
}

#h3 {
    stroke-dasharray: 47;
    stroke-dashoffset: 47;
}

.h3 {
    animation: h3 1s forwards linear;
    animation-delay: 1.9s;
}

#appy {
    stroke-dasharray: 1143;
    stroke-dashoffset: 1143;
}

.appy {
    animation: appy 4.5s forwards linear;
    animation-delay: 3.7s;
}

@keyframes irthday {
    0% {
        stroke-dashoffset: 879;
    }

    100% {
        stroke-dashoffset: 0;
    }
}

@keyframes i {
    0% {
        stroke-dashoffset:2;
    }

    100% {
        stroke-dashoffset: 0;
    }
}

@keyframes t {
    0% {
        stroke-dashoffset: 12;
    }

    100% {
        stroke-dashoffset: 0;
    }
}

#irthday {
    stroke-dasharray: 879;
    stroke-dashoffset: 879;
}

.irthday {
    animation: irthday 5s forwards linear;
    animation-delay: 6.8s;
}

#i {
    stroke-dasharray: 2;
    stroke-dashoffset: 2;
}

.i {
    animation: i 1.5s forwards linear;
    animation-delay: 12.5s;
}

#t {
    stroke-dasharray: 12;
    stroke-dashoffset: 12;
}

.t {
    animation: t .5s forwards linear;
    animation-delay: 13.1s;
}

@keyframes jack1 {
    0% {
        stroke-dashoffset: 387;
    }

    100% {
        stroke-dashoffset: 0;
    }
}

#jack1 {
    stroke-dasharray: 387;
    stroke-dashoffset: 387;
}

.jack1 {
    animation: jack1 2s forwards linear;
    animation-delay:14.4s;
}

:root{
--orange: #ff6a00;
--dark: #385055;
--blue-dark: #30537d;

--blue-light: #76daff;
}

#flames{
    position: relative;
    width: 100%;
    height: 60px;
}

#flame1{
    position: absolute;
    top: -7%;
    left: 20%;
  width: 34px;
  margin: 30px auto 0 auto;
  height: 80%;
  align-self: flex-end;
  animation: blink .1s infinite;
  display: none;
}
#flame2{
    position: absolute;
    top: -7%;
    left: 56%;
  width: 34px;
  margin: 30px auto 0 auto;
  height: 80%;
  align-self: flex-end;
  animation: blink .1s infinite;
  display: none;
}


.flame{
  width: 10px;
  height:45px;
  margin: 0px auto;
  position: relative;
  animation: move 3s infinite, move-left 3s infinite;
  transform-origin: 50% 90%;
  .top{
    width: 20px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: white; 
    border-top-left-radius: 500%;
    border-bottom-left-radius: 50px;
    border-top-right-radius: 500%;
    border-bottom-right-radius: 50px;
    transform: skewY(-10deg);
    box-shadow: 
      0 0px 0px 3px white,
      0 -20px 1px 4px white, 
      0 -25px 2px 3px gold, 
      0 -30px 5px 4px var(--orange),  
      0 0px 150px 10px var(--orange), 
      0 -10px 2px 4px white,
      0 -5px 3px 3px white;
     animation: flame-up 4s infinite;
  }
  .bottom{
    transform: scale(0.9);
    position: absolute;
    bottom: 6px;
    left: 9px;
    border-radius: 1%;
    box-shadow: 
      0 6px 10px 12px rgba(60, 76, 125, 0.3),
      0 0px 4px 8px var(--dark),
      0 -12px 10px 8px rgba(255,106,0, 0.5), 
      0 5px 7px 12px var(--dark),
      0 -3px 10px 12px var(--dark),
      5px -10px 10px 5px red, 
      0 -15px 10px 10px gold, 
      5px -25px 10px 5px gold,
      0 2px 5px 6px var(--blue-dark),
      0 -2px 1px 6px var(--blue-light),
      0 2px 5px 4px var(--blue-light);
  }
}

@keyframes move{
    0%{ transform: skewX(2deg) skewY(5deg)}
    50%{ transform: skewX(-2deg) skewY(-0deg)}
    100%{ transform: skewX(2deg) skewY(5deg)}
  }
  @keyframes move-left{
    50%{transform: skewX(3deg);}
  }
  @keyframes flame-up{
    50% { box-shadow:
        0 0px 0px 3px white,
        0 -24px 1px 2px white, 
        0 -25.5px 2px 3px gold, 
        0 -30px 5px 4px var(--orange), 
        0 0px 150px 10px var(--orange), 
        0 -10px 2px 4px white,
        0 -5px 3px 3px white;
    }
  }
  @keyframes blink{
    50% {opacity: 0.95;}
  }